 h2{
    margin-top:100px;
    text-align: center;
}
head{
    background: url();

}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: center !important;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}